

nav a {
    text-decoration: none;
    color: white;
    border: none;
    cursor: default;
  }

nav a h4:hover {
    color: #FF0000;
    cursor: pointer;
}

nav a img:hover{
  cursor: pointer;
}

.list{
  width: 100%;
}

ul{
  outline: red dashed 3px;
  width: 100%;
}


ul li a{
  outline: white dashed 3px;
}

span h1 {
  color: white;
}

.navlink{
  color: white;
}